<!DOCTYPE html>
<html lang="en">
    <head>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
      <title>Hot or Bot 2</title> 
      <link href="styles.css" rel="stylesheet" />
      <link rel="icon" href="favicon.ico" />
    </head>

    <body>
      <h1>Hot or Bot 2</h1>
      {% block content %}{% endblock %}
      <div class="results-button-container">
        <a href="/results" class="btn btn-primary">Results</a>
        <a href="/" class="btn btn-primary">Home</a>
      </div>
    </body>
</html>
