{% extends "base.html" %}


{% block content %}

<form action="/vote" method="post">
    <div class="container">
        <div class="card">
            <h2>{{ lang }}</h2>
            <div class="button-container">
                <button type="submit" name="hot" value="Hot" class="button dislike">Hot</button>
                <button type="submit" name="hot" value="Not" class="button like">Bot</button>
                <input type="hidden" name="lang" value="{{ lang }}">
            </div>
        </div>
    </div>
</form>

{% endblock %}
