{% extends "base.html" %}


{% block content %}

<form action="/vote" method="post">
  <br>
  <h3 class="text-info"> {{ lang }} </h3>
  <br>
  <div class="row justify-content-center">
    <input type="submit" class="col-4 col-md-3 btn btn-secondary" name="hot" value="Not"></input>
    <input type="submit" class="col-4 col-md-3 btn btn-danger" name="hot" value="Hot"></input>
    <input type="hidden" name="lang" value="{{ lang }}">
  </div>
</form>
<br>
<div class="row justify-content-center">
  <a href="/results" class="col-4 col-md-4 btn btn-primary">Results</a>
</div>


{% endblock %}
